
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text1Color);
}

body {
  background-image: linear-gradient(
    0deg,
    hsl(131deg 35% 47%) 0%,
    hsl(139deg 38% 44%) 15%,
    hsl(145deg 41% 40%) 24%,
    hsl(150deg 43% 37%) 33%,
    hsl(154deg 45% 34%) 45%,
    hsl(158deg 45% 31%) 55%,
    hsl(161deg 43% 29%) 66%,
    hsl(164deg 40% 27%) 78%,
    hsl(166deg 36% 25%) 91%,
    hsl(169deg 31% 24%) 100%
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: var(--headingFont);

}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 100%;
}

.skeleton {
  padding:15px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
  background: hsl(200, 20%, 80%) !important;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(194, 207, 214, 0.7)), color-stop(18%, rgba(194, 207, 214, 1)), color-stop(33%, rgba(194, 207, 214, 0.7))) !important;
  background: linear-gradient(to right, rgba(194, 207, 214, 0.7) 8%, rgba(194, 207, 214, 1) 18%, rgba(194, 207, 214, 0.7) 33%) !important;
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

@keyframes wave-squares {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}
