.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 40px 100px;
}

.links  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.linkWrapper {
  position: relative;
}

.link,  .logo {
  text-decoration: none;
  color: var(--white);
}

.link:before {
  content: "";
  position: absolute;
  width: 5%;
  height: 2px;
  display: block;
  transition: all 0.3s ease;
  bottom: -15%;
}

.link:hover {
  color: var(--primary);
}

.link:hover:before {
  width: 100%;
  height: 2px;
  background-color: var(--primary);
}

.logo {
  margin: 0 auto;
}

.point {
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: var(--primary);
}