.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 40px 100px;
}

.links  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}

.link,  .logo {
  text-decoration: none;
  color: var(--white);
}

.logo {
  margin: 0 auto;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: var(--primary);
}